.b{
    background-image: url("https://content.tgstatic.co.nz/webassets/globalassets/campaign-banners--artwork/2021/tina/tina_websitetile_1078x303f.jpg");
    color: #6c6c6c;
    font-size: 30px;
    height: 400px;
    background-size: 100% 100%;
margin-top: 10mm;
    
}